/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [PeopleTracker].dbo.EmailType;
SELECT *
  FROM [PeopleTracker].dbo.PhoneType;
SELECT *
  FROM [PeopleTracker].dbo.AddressType;
SELECT *
  FROM [PeopleTracker].dbo.GuardianType;
SELECT *
  FROM [PeopleTracker].dbo.PersonType;
SELECT *
  FROM [PeopleTracker].dbo.Race;
SELECT *
  FROM [PeopleTracker].dbo.StudentType;
